<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Book to Database</title>
</head>
<body>
  <h1>Book Submission</h1>
  <form action="/bookSubmitted" method="POST">
    <label>Book Name: <input type="text" name="bookName" /></label><br><br>
    <label>Content: <input type="text" name="content" /></label><br><br>
    <label>Author: <input type="text" name="author" /></label><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>